<h1 class="main_header">*** QUIZ MASTER ***</h1>
<div id="main_bar">
	<a href="/quizzes/new"><button class="button">Create a Question</button></a>
<% if Question.count != 0 %>
	<a href="/quizzes/reset" class="take_the_quiz"><button class="button">Take the Quiz</button></a>
	<a href="/questions/ans_key" class="answer_key"><button class="button">Review</button></a>
<% end %>
</div>
<table class="main_table">
	<thead>
		<tr>
			<th>Question / Statement</th>
			<th>Type</th>
			<th>Actions</th>
		</tr>
	</thead>
	<tbody>
	<% @questions.each do |q| %>
		<tr>
			<td><%= q.question %></td>
			<% if q.exam == "id" %>
				<td class="main_rows">Identification</td>
			<% end %>
			<% if q.exam == "mc" %>
				<td class="main_rows">Multiple Choice</td>
			<% end %>
			<% if q.exam == "tf" %>
				<td class="main_rows">True or False</td>
			<% end %>
			<td class="main_rows"><a href="/questions/<%= q.id %>">Show</a> | <a href="/questions/<%= q.id %>/edit">Edit</a> | <a href="/questions/<%= q.id %>" data-method="delete" rel="nofollow">Delete</a></td>
		</tr>
	<% end %>
	</tbody>
</table>